/*Comenzamos definiendo el formato que tendrá el cuerpo de la web*/
body {
	width: 98%;
	margin: 0px;
	padding: 10px;
	vertical-align: baseline;
	height: 100%;
	cursor: url(../imagenes/Bball.cur), auto;
	background: #f0f8ea;
	font-family: 'Roboto', Sans-serif;
}


/*Formateo del contenedor principal de la información, definiendo color del fondo, letra,márgenes, saltos de línea y encuadre*/
.container {
	background-color: #f0f8ea;
	color:black;
	margin-top: 0px;
	margin-bottom: 3px;
	word-wrap:break-word;
	overflow: hidden; /*REVISAR*/
	max-height: 100%;
	display:flex;
	flex-direction: column;
    justify-content: center;
	margin-bottom: 30px;
}
/*Definición de márgenes para bloques div*/
.model1, .model2 {
	margin-top:10px;
	margin-bottom:0px;
	margin-right:10px;

	
}
/*Definición de bordes, tamaño y márgenes de imágenes*/
.model1 img {
	border: 4px 4px 4px;
	width: 140px;
	margin-left:40px;
	margin-bottom:5px;
}

.model2 img {
	border: 4px 4px 4px;
	width: 250px;
	margin-left:40px;
	margin-bottom:5px;
}
/*Formato del logo principal de la web, con sombreado y borde redondeado*/
.logo{
	position: absolute;
	float: left;
	font-size: 1em;
	margin-left: 60px;
	font-weight: bold;
	border-radius: 50%;
	box-shadow: 0px 0px 15px #000;
	padding:0;
	border:0;
	vertical-align: middle;
	display: table-cell;
	height: 150px;
    top: -5px;
}

/*Formateo de las celdas internas de cada div*/
.span_table, .div_interno_table, .p_table {
  vertical-align: middle;
  display: table-cell;
  margin-right: 20px;
}

/*Remarca la opción del menú que ha sido seleccionado*/
.seleccionado {
	background: rgba(25, 98, 80, 1);
	height: 20px;
}

.seleccionado a {
	margin-top: 0px;
	padding: 3px;
}
/*Encabezado de la web*/
header{
	background: #20886f;
	color: #ebebd3;
	padding: 2em 0;
	position: relative;
	height: 70px;
	z-index: 900;
}

header::after{
	content: "";
	clear: both;
	display: block;
}
/*Clase para el pie de página*/
footer {
	background: #20886f;
	overflow: hidden;
	margin-bottom: 0px;
	width: 100%;
	height: 45px;
	color: #ebebd3;
	padding: 2em 0;
	
}
		
footer p {
	margin-top:15px;
	color:white;
	text-align: center;
	
}

footer a {
	margin-top:15px;
	color:white;
}

/*Formato para los iconos de redes sociales*/
.image_xsmall {
	width: 50px;
	margin-left: 20px;
	margin-top: 20px;
}

.texto_comic {
	font-family: "Comic Sans MS";
}

.texto_trebuchet {
	font-family: "Trebuchet MS";
}

/*Efecto de redondeo con transición de cambio en las esquinas de las imágenes*/
.efect img {
	border-radius: 40% 20%;
	box-shadow: 0px 0px 15px #000;
	background: #FFF;
	transition: all 1s;
}

/*Cambio del formato al pasar el cursor*/
.efect img:hover {
	border-radius: 0;
	transition: all 1s;
	cursor:pointer;
}

/*Ubicación de las imágenes en la sección de noticias*/
.left {
	position: relative;
	float:left;
	margin-right: 29px;
}

/*Definición del contenedor de información principal en todas las páginas*/
#contenidos  {
	margin-left: 70px;
	margin-top: 80px;
	margin-bottom: 50px;
	margin-right: 70px;
}

/*Definicion del color del borde de todas las tablas*/
table {
	border-color: #093542;
}

/*Cabecera de tablas*/
th {
	background-color: #104A5C;
	color: #FFF;
}

/*Contenido de las tablas (filas)*/
td {
	background-color: #FFF;
	
}

.menu-nav{
	top: 100%;
	right: 0%;
	position: absolute;
	background-color: #20886f;
	padding: 0;
	clip-path: circle(0px at top right);
	transition: clip-path ease-in-out 700ms;
}
.menu-nav-open{
	clip-path: circle(150% at top right);
}
.menu-nav ul{
	margin: 0;
	padding: 0;
	list-style: none;

}
.menu-nav li{
	border-bottom: 1px solid;
	position:relative;
	font-size: 12px;
	padding: 16px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.5);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	transition: all 0.5s ease-in-out;

}

.menu-nav ul li:last-child{
	border-bottom: none;
}
.menu-nav ul li a{
	color: #ebedb3;
	display: block;
	text-transform: uppercase;
	text-decoration:none;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.8);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.menu-nav ul li a:hover{
	color: rgb(255,255,255);
	background: rgba(25, 98, 80, 1);
}

.icono::before {
	margin-right: 2px;
}

.menu-toggle{
	height: auto;
	position: relative;
	background: transparent;
	float: right;
	margin-right: 10px;
	margin-top: 80px;
	z-index: 999;

}

.hamburguesa,
.hamburguesa::before,
.hamburguesa::after{
	content: "";
	display: block;
	background: #ebebd3;
	height: 3px;
	width: 1.75em;
	border-radius: 3px;
	transition: all ease-in-out 500ms;
	z-index: 999;
}

.hamburguesa::before{
	transform: translateY(-7px);
	z-index: 999;

}
.hamburguesa::after{
	transform: translateY(5px);
	z-index: 999;
}

.menu-open .hamburguesa{
	transform: rotate(45deg);
	z-index: 999;

}
.menu-open .hamburguesa::before{
	transform: rotate(-90deg);
	z-index: 999;
}

.menu-open .hamburguesa::after{
	transform: rotate(-45deg) translate(2px, -2px);
	z-index: 999;

}

.contenedor{
	width: 95%;
	margin: 0;
}

@media screen and (min-width:850px){
	.menu-toggle{
		display:none;
	}
	
	.menu-nav{
		height: auto;
		position: relative;
		background: transparent;
		float: right;
		margin-right: 10px;
		clip-path: initial;
	}
	
	.menu-nav li{
		display: inline-block;
		border: none;
		padding: 0px 5px 0px 5px;
		font-size: 10px;
	}
	
	.menu-nav a{
		padding: 0;
		margin-left: 3em;

	}
	
	.menu-nav-icon{
		display: none;
	}
	
	.menu-nav a:hover,
	.menu-nav a:focus{
		background: transparent;
	}
	
	.seleccionado {
		background:rgba(25, 98, 80, 1);
		height: 32px;
	}
	
	.seleccionado a {
		margin-top: 10px;
		margin-right: 30px;
	}
	
	.container {
		display:block;
		margin-bottom: 0px;
	}
	
	.model1, .model2 {
		margin-bottom:10px;
		
	}

}

@media screen and (min-width:970px){
	.menu-nav li{
		font-size: 12px;
	}
}



