/*Características para el formulario*/
form {
    margin: 0 auto;
    width: 400px;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 10px;
}
/*Definición del formato para cada etiqueta del formulario*/
label {
    display: inline-block;
    width: 160px;
    text-align: left;
	border-radius: 6px;
}
/*Formato de las entradas del formulario*/
input, textarea, select {
	padding: 5px;
    font: 14px sans-serif;
    width: 380px;
    box-sizing: border-box;
    border: 1px solid #999;
}

textarea {
    vertical-align: top;
    height: 70px;
    resize: vertical;
}

.button {
    padding-left: 90px;
	margin-left: 3px;
}

form div {
    margin-top: 10px;
}

.mapa_externo {
	margin-left: 100px;
}

/*Dividimos el div en celdas para una mejor distribución de la información*/
.div_table {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width:850px){
	/*Dividimos el div en celdas para una mejor distribución de la información*/
	.div_table {
	  display: table;
	}
}